
{% extends "base.html" %} <!--reprend le contenu de la template base.html-->
{% block title %} Accueil{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block css %}<link rel="stylesheet" href="/css/accueil.css">{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block content %} <!--remplace le contenu du bloc content-->

<h1>Bienvenue sur notre application</h1>


<p class="accueil-p">Pour notre projet de DSIA_4201C nous nous sommes intéréssés aux chiffrees du box office français. Pour cela nous avons scrapé les données du site <a href="https://www.boxofficemojo.com/">https://www.boxofficemojo.com/</a>. <br>
Nous venons compléter ces données depuis le site <a href="https://www.imdb.com/">https://www.imdb.com/</a> pour obtenir les acteurs, directeurs ... <br>
Sauf mention contraire, toutes les données affichées sont celles de la France.
</p>


{% endblock %} <!--remplace le contenu du bloc content-->
