{% extends "base.html" %} <!--reprend le contenu de la template base.html-->
{% block title %}{{ actorName }}{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block css %}<link rel="stylesheet" href="/static/details.css">{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block content %} <!--remplace le contenu du bloc content-->


<div class="summary">
    <div class="summary_img">
        <img src="{{details['_id']['img_link']}}" alt="Photo de {{actorName}}" class="actor_picture"> 
    </div>
    
    <div class="summary_list">
        <h1>{{ actorName }}</h1> 
        <p>Argent généré à l'international par les films dans lequel il est un  acteur principal : {{ format_money(sum_recettes_inter) }}</p> <br>
        <p>Argent généré en France par les films dans lequel il est un  acteur principal : {{ format_money(sum_recettes_fr) }}</p> <br>
       
       
        
    </div>

</div>

<div class="charts">
    <div id="genres_chart" class="chart"></div>
    <div id="evolution_chart" class="chart"></div>
</div>

<h2>Film dans lequel il fait une apparition : </h2>
<div class="list_container">

{% for elt in details["movies"] %}
    <a  href="/movie-detail/{{ elt['rlid'] }}"  class="elt_container">
        <img src="{{elt['poster']}}" alt="Poster de {{elt['title']}}" class="elt_picture">
        <span>{{elt["title"]}}</span>
    </a>
    
{% endfor %}

</div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

  var graphs = {{graphJSON_genres | safe}};
  Plotly.plot('genres_chart',graphs,{});
  var graphs = {{graphJSON_evolution | safe}};
  Plotly.plot('evolution_chart',graphs,{});
</script>
{% endblock %} <!--remplace le contenu du bloc content-->