{% extends "base.html" %} <!--reprend le contenu de la template base.html-->
{% block title %} {{ details[0]["title"] }} {% endblock %} <!--remplace le contenu du bloc title de base-->
{% block css %}<link rel="stylesheet" href="/static/details.css">{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block content %} <!--remplace le contenu du bloc content-->


<div class="summary">
    <img src='{{ details[0]["poster"]}}' alt="Poster" class="poster">
    <div class="summary_text">
        <h1>{{details[0]["title"] }}</h1>
        <ul class="summary_list">
            <li>Durée : {{format_time(details[0]["runningTime"])}}</li>
            <li>Distributeur : {{details[0]["distributor"]}}</li>
            <li>Réalisateur : {{details[0]["director"]}}</li>
            <li>Note : {{details[0]["note"]}}</li>
            <li>Budget : {{ details[0]["budget"] }}</li>
            <li>Recettes totales : {{ format_money(details[0]["recettes_inter"]) }}</li>
            <li>Recettes en France : {{ format_money(details[0]["recettes_totales"]) }} ( {{ get_percentage(details[0]["recettes_totales"],details[0]["recettes_inter"]) }} % des recettes totales ) </li>
            <li>Pourcentage des recettes réalisées en France : {{ details[0]["recettes_totales"] / details[0]["recettes_inter"] * 100}} </li>
            <li>Résumé : {{details[0]["resume"] | safe}}</li>
            <li>Genres : {{ ', '.join(details[0]["genres"])}}</li>
            <li>Date de sortie : {{details[0]["releaseDate"]}}</li>
            <li>Pays d'origine : {{details[0]["country_origin"]}}</li>
            
        </ul>
    </div>
</div>



<div class="charts">
    
    <div id='recettes_cumul_chart' class='chart'”></div>
    <div id='recettes_chart' class='chart'”></div>
    <div id='rank_chart' class='chart'”></div>
    {% if graphJSON_cinemas  %}
    <div id='cinemas_chart' class='chart'”></div>
    {% endif %}
</div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

  var graphs = {{graphJSON_cumul | safe}};
  Plotly.plot('recettes_cumul_chart',graphs,{});

  var graphs = {{graphJSON_recettes | safe}};
  Plotly.plot('recettes_chart',graphs,{});

  var graphs = {{graphJSON_rank | safe}};
  Plotly.plot('rank_chart',graphs,{});

  var graphs = {{graphJSON_cinemas | safe}};
  Plotly.plot('cinemas_chart',graphs,{});
</script>



<h2>Cast :</h2>

<div class="list_container">
    {% for elt in details[0]["cast"] %}
        <a href='/actor-detail/{{elt["name"] }}/{{ elt["actorId"]}}' class="elt_container">
            <img src='{{ elt["img_link"]}}' alt="Photo de  l'acteur" class="elt_picture">
            <span>{{elt["name"]}}</span> <br>
            as : {{elt["role"]}}
        </a>
    {% endfor %}
</div>



{% endblock %} <!--remplace le contenu du bloc content-->