{% extends "base.html" %} <!--reprend le contenu de la template base.html-->
{% block title %} {{ title }} {% endblock %} <!--remplace le contenu du bloc title de base-->
{% block css %}<link rel="stylesheet" href="/css/movie_detail.css">{% endblock %} <!--remplace le contenu du bloc title de base-->
{% block content %} <!--remplace le contenu du bloc content-->

<h1>{{details[0]["title"] }}</h1>

<img src='{{ details[0]["poster"]}}' alt="Poster" class="poster">

<ul>

    <li>Durée : {{format_time(details[0]["runningTime"])}}</li>
    <li>Distributeur : {{details[0]["distributor"]}}</li>
    <li>Note : {{details[0]["note"]}}</li>
    <li>Budget : {{ details[0]["budget"] }}</li>
    <li>Recettes internationales : {{ format_money(details[0]["recettes_inter"]) }}</li>
    <li>Recettes en France : {{ format_money(details[0]["recettes_totales"]) }}</li>
    <li>Résumé : {{details[0]["resume"] | safe}}</li>
    <li>Genres : {{details[0]["genres"]}}</li>
    <li>Date de sortie : {{details[0]["releaseDate"]}}</li>
    <li>Pays d'origine : {{details[0]["country_origin"]}}</li>
    
</ul>

<h3>Cast</h3>
<table>
    <tr>
        <td></td>
        <td>Acteur</td>
        <td> Role</td>
        
    </tr>
    {% for actor in details[0]["cast"] %}
    <tr>
        <td><img src='{{ actor["img_link"]}}' alt="Photo de  l'acteur" class="actor_picture"></td>
        <td><a href='/actor-detail/{{actor["name"] }}/{{ actor["actorId"]}}'>{{actor["name"]}}</a> </td>
        <td> {{actor["role"]}}</td>
        
    </tr>
    {% endfor %}
</table>


<div id='chart' class='chart'”></div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %} <!--remplace le contenu du bloc content-->